* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
    color: #f2f2f2;
}

html{
  color-scheme: dark !important;
    position: relative;
    height: 100vh;
    background-color: #000;
    
}

body {
  margin: 0;
  overflow: hidden;
  height: 100vh;
}
.topnav {
  overflow: hidden;
  background-color: #222;
  margin: auto 0;
}
.topleftnav *{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  font-size: 25px;
  margin: 6.25px 0;
  margin-left: 30px;;
  text-decoration: none;
}
.toprightnav{
  float: right;   /*ignore the block */
  margin: 6px 0;
  margin-right: 20px;
  display: flex;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
}
.postdetail{
  margin: 0;padding: 0;
  background-color: #333;
  border-bottom: #999 solid 3px;
}
.postdetail p, .postdetail pre{
  margin: 0;
}
pre{
  margin: 0;
}
.postdetail:hover{
  background-color: #555;
}
/* Create three unequal columns that floats next to each other */
.row{
  height: 90vh;
}
.content{  text-align: left;
}
.column {
  float: left;
  padding: 0;
  text-align: center;
  background-color: #000;
}

/* Left and right column */
.column.side {
  width: 30%;
  /* background-color: aquamarine; */
}

/* Middle column */
.column.middle {
  /* background-color: yellowgreen; */
  width: 70%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.detail{
  position:absolute;
  bottom: 0;
  width: 70%;
  /* background-color: aqua; */
}
.post{
  height: 90vh;
  overflow: auto;
}
.content{
  height: 70vh;
  overflow: auto;
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .topleftnav *{
    margin: 0 0;
    margin-left: 10px;
  }
  .post{
    max-height: 80px;
    overflow: auto;
  }
  .column.side, .column.middle {
    width: 100vw;
    margin-left:10px;
  }
  .detail{
    width: 100%;
  }
  #newcomment {
    width: 70%;
  }
#newcmt{
  width: 60%;
}
  #newtitle, #newdetail{
    width: 30%;
  }
  #submitnewpost{
    width: 10%;
  } 
}
.content {
  width: 80%;
  max-width: 1200px;
  max-height: 80vh;
  overflow: auto;
  margin: 0 auto;
}

.contentcomment{
  background-color: #222;
  border-bottom:5px solid #000;
  padding: 5px;
  clear: both;
  color: #f2f2f2;
  /* border-radius: 10px; */
}
.contentcomment *{
  display: inline;
  background-color: transparent;
}
.index{
  font-size: 12px;color: yellow;
}
.cmtuser{
  
}
.cmtmsg{
  display: block;
  padding: 10px 5px 5px 5px;
}
/* .content .contentcomment:nth-child(2n) {
  background-color: #FFF;
} */

/* #send-container {
  position: fixed;
  padding-bottom: 30px;
  bottom: 0;
  background-color: white;
  max-width: 1200px;
  width: 80%;
  display: flex;
} */
