* {
    box-sizing: border-box;
    /* overflow: hidden; */
    
}
html{
  margin: 0;
  padding: 0;
  color-scheme: dark !important;
    position: relative;}
body {
  margin: 0;
  /* overflow: hidden; */
}
.topnav {
  overflow: hidden;
  background-color: #333;
  margin: auto 0;
}
.topleftnav *{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  font-size: 25px;
  margin: 6.25px 0;
  margin-left: 30px;;
  text-decoration: none;
}
.toprightnav{
  float: right;   /*ignore the block */
  margin: 6px 0;
  margin-right: 20px;
  display: flex;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
}
.search{
    
margin: auto 0;
padding: 0;margin-top: 100px;
text-align: center;
align-items: center;
}
/* .btn-outline-success{
    min-width: 100px;
} */
.searchbox{
    margin: 0 auto;
    width: 50%;
    min-width: 300px;
    display: flex;
}
#random, #createnew{
    width:100px;
    margin-top: 10px;
}
footer{
    position: fixed;
   bottom: 0;
   width: 100%;
   height: 40px;   /* Height of the footer */
   background: #6cf;
}
.trendingbox{
    margin-top: -20px;    
    margin: 0 auto;
    width: 50%;
    min-width: 300px;
    max-width: 90vw;
}
.trendingbox *{
    margin: 0 10px;

}
.trendingbox a{
    color: rgb(35, 148, 253);
    text-decoration: underline;
}
.trendingbox :hover {
  color: rgb(85, 169, 247);
}
.result{
    margin: 0 auto;
    width: 50%;
    min-width: 300px;
    max-height: 100px;
    /* overflow: auto; */
}
.result a{
font-size: 25px;
text-decoration: none;
color: rgb(35, 148, 253);
margin:0 10px;
}
.result :hover {
  color: rgb(85, 169, 247);
}
@media screen and (max-width: 600px) {
  .topleftnav *{
    margin: 0 0;
    margin-left: 10px;
  }
  .search{
    margin-top: 30px;
  }
}
